<!DOCTYPE html>
<html>

<head>
    <title>McMinnville Stake | Activities</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <header>
        <img id="logo" src="../images/logo.png" alt="LDS Logo" />
        <nav>
            <label for="toggle">Show Menu</label>
            <input id="toggle" type="checkbox">
            <ul id="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/activities.html">Activities</a></li>
                <li><a href="../views/youth-conference.html">Youth Conference</a></li>
                <li><a href="../views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="top-image" class="activityBanner">
        <div class="center">
            <div class="box-shad">
                <h1>Stake Young Men Activities</h1>
                <p>Return to this page to confirm event times and places as they may change and may be updated closer to
                    time as circumstances may dictate.</p>
            </div>
        </div>
    </div>
    <main>
        <section class="row">
            <div class="tablegap" id="attach">
                <!-- TABLE GOES HERE -->
            </div>
        </section>
    </main>
    <footer>
        <div class="center">
            <p>This is not an official website of The Church of Jesus Christ of Latter-day Saints. Our online resource’s
                content, images, or other materials are not sponsored or endorsed by the Church or officially represent
                the Church in any way.</p>
            <p>McMinnville Stake Youth | Copyright &copy; 2020 All rights reserved.</p>
        </div>
        <script src="../js/activities.js">
            activities();
        </script>
    </footer>
</body>

</html>