<!DOCTYPE html>
<html>

<head>
    <title>McMinnville Stake | Activities</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <header>
        <img id="logo" src="../images/logo.png" alt="LDS Logo" />
        <nav>
            <label for="toggle">Show Menu</label>
            <input id="toggle" type="checkbox">
            <ul id="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/activities.html">Activities</a></li>
                <li><a href="../views/youth-conference.html">Youth Conference</a></li>
                <li><a href="../views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="top-image" class="activityBanner">
        <div class="center">
            <div class="box-shad">
                <h1>Stake Young Men Activities</h1>
                <p>Return to this page to confirm event times and places as they may change and may be updated closer to
                    time as circumstances may dictate.</p>
            </div>
        </div>
    </div>
    <main>
        <section class="row">
            <div class="tablegap">
                <table style="width:100%">
                    <tr>
                        <th>Date</th>
                        <th>Activity</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <td>March 21 2020</td>
                        <td>Stake Youth Skate</td>
                        <td>Tullahoma 4:15PM-5:15PM</td>
                    </tr>
                    <tr>
                        <td>June 8-11 2020</td>
                        <td>Stake Young Mens Camp</td>
                        <td>Camp Tubbs, Rock Island, TN (Starts 5PM Monday). <a href="reg/camp-reg.html" target="_blank"
                                alt="Sign up">Sign up now!</a></td>
                    </tr>
                    <tr>
                        <td>June 18-20 2020</td>
                        <td>Youth Conference</td>
                        <td>Don't forget to sign up before March 31st! <a href="../views/youth-conference.html"
                                target="_blank" alt="Sign up">Click here to learn more</a></td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <div class="center">
            <p>This is not an official website of The Church of Jesus Christ of Latter-day Saints. Our online resource’s
                content, images, or other materials are not sponsored or endorsed by the Church or officially represent
                the Church in any way.</p>
            <p>McMinnville Stake Youth | Copyright &copy; 2020 All rights reserved.</p>
        </div>
    </footer>
</body>

</html>