<!DOCTYPE html>
<html>

<head>
    <title>McMinnville Stake | Activities</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/formCheck.js"></script>
</head>

<body>
    <header>
        <img id="logo" src="../images/logo.png" alt="LDS Logo" />
        <nav>
            <label for="toggle">Show Menu</label>
            <input id="toggle" type="checkbox">
            <ul id="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/activities.html">Activities</a></li>
                <li><a href="../views/youth-conference.html">Youth Conference</a></li>
                <li><a href="../views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="top-image" class="contactBanner">
        <div class="center">
            <div class="box-shad">
                <h1>Need to get into contact with the Young Mens Presidency?</h1>
                <p>Fill out the contact information below to get in touch with the Stake Young Mens Presidency</p>
            </div>
        </div>
    </div>
    <main>
        <section class="row">
            <div class="center middle">
                <iframe class="fullWide"
                    src="https://docs.google.com/forms/d/e/1FAIpQLSdfJ-78ls5mvL0ofzTwXnAsWN5Ta01GDkJp8Jm1S3g_LWazEA/viewform?embedded=true"
                    width="640" height="1192" frameborder="0" marginheight="0" marginwidth="0">Loading…
                </iframe>
            </div>
        </section>
    </main>
    <footer>
        <div class="center">
            <p>This is not an official website of The Church of Jesus Christ of Latter-day Saints. Our online resource’s
                content, images, or other materials are not sponsored or endorsed by the Church or officially represent
                the Church in any way.</p>
            <p>McMinnville Stake Youth | Copyright &copy; 2020 All rights reserved.</p>
        </div>
    </footer>
</body>

</html>