<!DOCTYPE html>
<html>

<head>
    <title>McMinnville Stake | Conference</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <header>
        <img id="logo" src="../images/logo.png" alt="LDS Logo" />
        <nav>
            <label for="toggle">Show Menu</label>
            <input id="toggle" type="checkbox">
            <ul id="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/activities.html">Activities</a></li>
                <li><a href="../views/youth-conference.html">Youth Conference</a></li>
                <li><a href="../views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="top-image" class="ycBanner">
        <div class="center">
            <div class="box-shad">
                <h1>Youth Conference</h1>
                <p>June 18-20, 2020, University of North Alabama<br />
                    For all youth turning 14-18 in 2020</p>
            </div>
        </div>
    </div>
    <main>
        <section class="row">
            <div class="article blurb onethird">
                <h2>Sign Up!</h2>
                <p><strong>Register by March 31st 2020</strong>. Click the link below to begin registration!<br /><br />
                    To get text
                    reminders about Youth Conference, join YOUTH CONFERENCE
                    remind: Text @yconf2020 to 81010
                </p>
                <a class="button" target="_blank"
                    href="https://docs.google.com/forms/d/1waaepYfcloCon033K2nGjdLpiszxwu_cuvjP9d7uEWY/viewform?edit_requested=true">Register</a>
            </div>
            <div class="article twothird">
                <h2>Multiple youth in your family attending?</h2>
                <p>The registration form only allows <u>one submission per email sign in</u>. So if you have multiple
                    youth attending youth
                    conference, you will need to sign in to one email account, submit the form and then sign out. Then,
                    sign back using a different email account for the next child. We realize that this is inconvenient,
                    but since google forms doesn't currently have a good way to submit a handwritten signature using a
                    signature pad, we have to create an electronic signature using unique email sign-ins for each
                    submission. Thanks for your patience!
                </p>
            </div>
        </section>

    </main>
    <footer>
        <div class="center">
            <p>This is not an official website of The Church of Jesus Christ of Latter-day Saints. Our online resource’s
                content, images, or other materials are not sponsored or endorsed by the Church or officially represent
                the Church in any way.</p>
            <p>McMinnville Stake Youth | Copyright &copy; 2020 All rights reserved.</p>
        </div>
    </footer>
</body>

</html>