<!DOCTYPE html>
<html>

<head>
    <title>McMinnville Stake | Conference</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <header>
        <img id="logo" src="../images/logo.png" alt="LDS Logo" />
        <nav>
            <label for="toggle">Show Menu</label>
            <input id="toggle" type="checkbox">
            <ul id="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/activities.html">Activities</a></li>
                <li><a href="../views/youth-conference.html">Youth Conference</a></li>
                <li><a href="../views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="top-image" class="ycBanner">
        <div class="center">
            <div class="box-shad">
                <h1 id="h-title"></h1>
                <span id="h-subtitle"></span><br />
                <span id="h-caption"></span>
            </div>
        </div>
    </div>
    <main>
        <section class="row">
            <div class="article blurb onethird">
                <h2 id="b-title"></h2>
                <p><strong id="b-subtitle"></strong></p>
                <p id="b-caption"></p>
                <a class="button" target="_blank" id="b-link" href="#"></a>
            </div>
            <div class="article twothird">
                <h2 id="t-title"></h2>
                <p><em id="t-subtitle"></em></p>
                <p id="t-caption"></p>
            </div>
        </section>

    </main>
    <footer>
        <div class="center">
            <p>This is not an official website of The Church of Jesus Christ of Latter-day Saints. Our online resource’s
                content, images, or other materials are not sponsored or endorsed by the Church or officially represent
                the Church in any way.</p>
            <p>McMinnville Stake Youth | Copyright &copy; 2020 All rights reserved.</p>
        </div>
        <script src="../js/yc.js">
            yc();
        </script>
    </footer>
</body>

</html>