<!DOCTYPE html>
<html>

<head>
    <title>McMinnville Stake | Activities</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
</head>

<body>
    <header>
        <img id="logo" src="../../images/logo.png" alt="LDS Logo" />
        <nav>
            <label for="toggle">Show Menu</label>
            <input id="toggle" type="checkbox">
            <ul id="menu">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../views/activities.html">Activities</a></li>
                <li><a href="../../views/youth-conference.html">Youth Conference</a></li>
                <li><a href="../../views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="top-image" class="registrationBanner">
        <div class="center">
            <div class="box-shad">
                <h1>Camp Registration</h1>
                <p>Fill out the form below to register for the 2020 Young Mens Camp!</p>
            </div>
        </div>
    </div>
    <main>
        <section class="row">
            <div class="center middle">
                <iframe class="fullWide"
                    src="https://docs.google.com/forms/d/e/1FAIpQLSfF-7fzArc5iC2PwzxN2hrQmWhJ19uWsbuVT5VB0yJvlBkeVQ/viewform?embedded=true"
                    width="640" height="1676" frameborder="0" marginheight="0" marginwidth="0">Loading…
                </iframe>
            </div>
        </section>
    </main>
    <footer>
        <div class="center">
            <p>This is not an official website of The Church of Jesus Christ of Latter-day Saints. Our online resource’s
                content, images, or other materials are not sponsored or endorsed by the Church or officially represent
                the Church in any way.</p>
            <p>McMinnville Stake Youth | Copyright &copy; 2020 All rights reserved.</p>
        </div>
    </footer>
</body>

</html>